.ttitle{
  height: 60px;
  background: #272c31;
  color: #FAFAFA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
  padding-left: 20px ;
  span{
    font-size: 20px;
  }
}