<div class="ttools">
    <div class="ttools-entries">
        <span>Show</span>
        <input type="number" value="5"/>
        <span> entries</span>
    </div>
    <div class="ttools-buttons">
        <ul>
            <li>
                <a>Refresh</a>
            </li>
            <li>
                <a>Save</a>
            </li>
            <li>
                <a>Launch</a>
            </li>
            <li>
                <a>Action 1</a>
            </li>
            <li>
                <a>Action 2</a>
            </li>
        </ul>
    </div>
    <div class="ttools-search">
        <span>Search: </span>
        <input type="text">
    </div>
</div>